<!doctype html>
<html ng-app lang="en">
<head>
	<title>Zboota</title>
        <script src="js/vendor/jquery-2.1.1.min.js"></script>
        <script src="js/vendor/angular-1.2.28.min.js"></script>
        <!--<script src="js/vendor/angular-1.2.28.js"></script>-->
        <script src="js/vendor/moment-2.9.0.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/common.js"></script>
        <script src="js/Controller1.js"></script>
        <script src="js/Controller2.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" type="text/css" href="css/index.css" />
</head>
<body>
<div ng-controller="Controller1" class="container">
	<div ng-controller="Controller2">
		<div class="row">
			<div class="muted pull-left"><img src="img/logo-57.png" /><!-- Zboota--></div>
			<div class="btn-group pull-right" role="group"><!-- ng-show="serverAvailable">-->
				<button ng-click="logout();" ng-show="loginStatus=='Logged in'" class="btn btn-small">Log out</button>
				<button ng-click="showLogin();" ng-disabled="loginStatus!='None'||getStatus!='None'" ng-show="loginStatus!='Logged in'" class="btn btn-small">Existing user</button>
				<button ng-click="showNew();" ng-disabled="newUStatus!='None'||getStatus!='None'" ng-show="loginStatus!='Logged in'" class="btn btn-small">New user</button>
				<!--<button ng-click="showDisclaimer()" class="btn btn-info btn-small">Disclaimer</button>-->
			</div>
			<div ng-show="loginStatus=='Logged in'" class="pull-right">{{loginU.email}} &nbsp;</div>
			<div class="pull-left">
				<span ng-show="getStatus=='Requesting'||loginStatus=='Logging in'" class="blinking">&#x25BC</span>
				<span ng-show="updateStatus=='Updating'" class="blinking">&#x25B2</span>
			</div>
		</div>
		<div class="modal" id="loginModal" aria-hidden="true" hidden data-backdrop="static">

			<div class="modal-header">
       				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				Enter your email <span ng-show="loginType!='New'"> and password</span>
			</div>
			<div class="modal-body">
				<input ng-model="loginU.email" type="text" size=5 placeholder="Email" ng-show="loginStatus!='Logged in'" ng-disabled="loginStatus=='Logged in'"/> <br>
				<input ng-model="loginU.pass" type="password" size=5 placeholder="Password" ng-show="loginStatus!='Logged in'&&loginType=='Log in'" /> <br>
			</div>
			<div class="modal-footer pull-left" align="left">
				<button ng-click="login();" ng-show="loginType=='Log in'" ng-disabled="loginStatus!='None'||getStatus!='None'||!loginU.email||!loginU.pass" class="btn btn-primary">Log in</button> &nbsp;
				<button ng-click="forgotPassword();" ng-show="loginType=='Log in'" ng-disabled="loginStatus!='None'||getStatus!='None'||!loginU.email||forgotPasswordStatus" class="btn btn-warning">Forgot password</button> &nbsp;
				<button ng-click="newU();" ng-show="loginType=='New'" ng-disabled="newUStatus!='None'||!loginU.email" class="btn btn-primary">Create</button> &nbsp;
			</div>
		</div>
	</div>



	<table border=0 id="mytable" class="table">
	<tr>
		<th></th>
		<th>Tickets</th>
		<th>
			<!--<button ng-click="clear()" class="btn btn-danger">Clear</button>-->
			<button ng-click="get();" ng-show="!(getStatus!='None' || !serverAvailable || noData())" class="btn btn-success btn-small">Refresh</button>
		</th>
	</tr>
	<tr ng-repeat="rd in data" bgcolor="{{getCarRowClass(rd.a,rd.n)}}">
		<td>
			<span>{{rd.l}}</span>
			<br>
			<span class="muted">{{rd.a}} &nbsp; {{rd.n}}</span>
		</td>
		<td>
				<div ng-if="rd.isf!='None'">
					<a href="http://www.isf.gov.lb/en/speedtickets">ISF</a>:<br>
					{{rd.isf}}
				</div>
				<div ng-if="rd.pml!='None'">
					<a href="http://www.parkmeterlebanon.com/default/STATMENT_OF_ACCOUNT.aspx">PML</a>:<br>
					{{rd.pml}}
				</div>
				<div ng-if="rd.isf=='None' && rd.pml=='None'">
					None
				</div>
			</span>
		</td>
		<td><button ng-click="del(rd.a,rd.n)" class="btn btn-warning">Del</button></td>
	</tr>
	<tr ng-show="noData()">
		<td colspan=6>None</td>
	</tr>
	<tr><td colspan=6><button ng-click="showAdd();" class="btn btn-primary btn-lg btn-block">Add</button></td></tr>
	</table>

	<div class="row">
		<div class="pull-right muted text-right">
			Today: {{momentFormat2(tnow)}}<br>
			<span ng-show="dataTs!=null">Data: {{momentFormat2(dataTs)}}</span>
		</div>
	</div>


	<div id="addModal" class="modal" aria-hidden="true" hidden data-backdrop="static">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			Enter car details
		</div>
		<div class="modal-body">
			Letter: &nbsp; <select ng-model="addC.a" class="dropdown"><option ng-repeat="a in areas" ng-value="a">{{a}}</option></select> <br>
			<input type="text" ng-model="addC.n" placeholder="Number" size=2 /> <br>
			<input type="text" ng-model="addC.l" placeholder="Label" size=2 /> <br>
		</div>
		<div class="modal-footer pull-left">
			<button ng-click="add();" class="btn btn-primary" ng-disabled="!addC.a||!addC.n||!addC.l">Add</button> &nbsp;
		</div>
	</ul>
	</div>

<hr>

<span id="disclaimerModal" class="modal" aria-hidden="true" hidden>
<button type="button" class="close" aria-label="Close" ng-click="hideDisclaimer()"><span aria-hidden="true">&times;</span></button>
<small>
<ul>Disclaimer:
<li>This app and its infrastructure were developed solely to serve my personal needs.</li>
<li>I do not take any responsibility not whatsoever for any mistakes that may cause you to be fined.</li>
<li>Otherwise, the app itself is licensed under <a href="http://wtfpl.net">WTFPL</a>,</li>
<li>and the data belongs to its sole owners <a href="http://www.isf.gov.lb/en/speedtickets">ISF</a> and <a href="">PML</a>.</li>
<li>There are similar apps out there, like <a href="https://play.google.com/store/apps/details?id=air.speedTicketLebanon">this</a>,
<a href="http://www.appszoom.com/android_applications/tools/lebanese-traffic-ticket_inbfc.html">this</a>,
<a href="https://play.google.com/store/apps/details?id=com.stround.lebanoncarfines">this</a>,
<a href="https://play.google.com/store/apps/details?id=com.tesladroid.lebanontickets">this</a>,
and <a href="https://play.google.com/store/apps/details?id=com.omr.zbt">this</a>
</small></span>


</div><!-- end Controller1 -->

</body>
</html>
