body { margin-top:30px; }
td { white-space: nowrap; }
/*
This shows up too tight on iOS
select { width:1em; }
*/
.blinking { text-decoration: blink; }
button { user-select: none; }
.modal {
    position:fixed;
    top:30px;
}
